body {
    color: #dcdccc;
    background: #292929;
    font-family: sans-serif;
    margin: 1em 5.55%;
}

/* optional: nice text spacing */
body { line-height: 1.5; }
p {
    margin: 0;
    margin-bottom: 1.5em;
}

/* link colors */
a { color: #f0dfaf; }
a:hover { color: #fff; }
/* if you really need a :visited style... */
a:visited { color: #c3bf9f; }

/* horizontal lines */
hr {
    border: 0;
    height: 1px;
    background-color: #60b48a;
}
